body {
  font-family: "Lora";
  background-image: url("../assets/volcano.jpg");
  margin: 0;
  padding: 0;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.link { 
  margin: 35px;
  text-align: center;
}
.link a {
  color: white;
  text-decoration: none;

}

.text {
  background-color: rgba(255, 242, 242, 0.9);
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  max-width: 800px;
  width: 100%;
}

h2 {
  color: #0058d3;
  font-family: 'Trebuchet MS';
}

.media-container {
  width: 100%;
  max-width: 500px;
  height: 450px;
  overflow: hidden;
  margin: 20px auto;
}

.media-container img,
.media-container iframe {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: none;
}

.tableau-container {
  height: 600px;
}

.tableauPlaceholder {
  width: 100% !important;
  height: 100% !important;
}

@media (max-width: 600px) {
  .media-container {
    height: 300px;
  }
  
  .tableau-container {
    height: 400px;
  }
}

.game-container {
  max-width: 600px;
  margin: 50px auto;
  text-align: center;
}

input, button {
  font-size: 18px;
  padding: 10px;
  margin: 10px;
}

#spellingsList {
  margin-top: 20px;
  text-align: left;
  background-color: aliceblue;
  text-align: left;
}

#spellingsList ul {
  list-style-type: none;
  padding: 0;
}

#spellingsList li {
  margin-bottom: 5px;
  font-size: 16px;
}
